@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
	scroll-behavior: smooth;
	transition: all 0.3s easy-in-out;
	-webkit-backface-visibility: hidden;
}

@layer components {
	.code {
		@apply text-zinc-900 p-4 rounded-lg lg:text-4xl lg:w-[600px] dark:text-zinc-200 w-screen;
	}
}
@layer base {
	@font-face {
		font-family: 'Code';
		src: url('/OperatorMono-BoldItalic.otf') format('otf');
		font-display: swap;
	}
}

h1 {
	@apply before:font-semibold !important;
}

a {
	@apply hover:text-violet-500 underline transition-all before:content-['[']  before:text-zinc-400  after:text-zinc-400 after:content-[']'];
}
body::-webkit-scrollbar {
	display: none;
}
